# Detection of USB keyboards
SUBSYSTEM=="usb" \
, ACTION=="add" \
, RUN+="/usr/sbin/insmod /root/penguin/A4/add_keyboard.ko"

SUBSYSTEM=="usb" \
, ACTION=="remove" \
, RUN+="/usr/sbin/rmmod /root/penguin/A4/add_keyboard.ko"
